<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<!-- 读取小配置文件 -->
	<properties resource="jdbc.properties">
	</properties>
	
	<typeAliases>
		<!-- <typeAlias type="com.fancylab.hibiscidai.entity.User" alias="User" />  -->
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- <mapper resource="com/fancylab/hibiscidai/dao/UserMapper.xml" />  -->
	</mappers>

</configuration>